/ 3-mixin_margins.scss

// Define a mixin for horizontal margins
@mixin set-margin($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Apply the mixin to body and div tags
body {
  @include set-margin(10px, 10px);
}

div {
  @include set-margin(15px, 15px);
}

sass 3-mixin_margins.scss | tail -n +2

body {
  margin-left: 10px;
  margin-right: 10px;
}

div {
  margin-left: 15px;
  margin-right: 15px;
}
